<html>
    <head>
        <title>Dynamic Rendering</title>
    </head>
    <body>
        <h1>Dynamic Rendering</h1>
        <p>{{author}}</p> <!-- {{author}} is a dynamic data received from server. -->
    </body>
</html>